.idea/
growth.iml


lean_algorithm/target
lean_algorithm/lean_algorithm.iml

learn-proxy/target
learn-proxy/learn-proxy.iml

stream-service/target
stream-service/stream-service.iml

dependency-reduced-pom.xml

stream-service/data